<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>My website</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<ul id="navigation">
		{% for item in navigation %}
			<li>
				<a href="{{ item.href }}" title="{{ item.caption }}">{{ item.caption }}</a>
			</li>
		{% endfor %}
	</ul>

	<h1>My Webpage</h1>
	{{ a_variable }}
</body>
</html>